<article >{{personne}}</article >
<button id= "btndel" class="person-btn-del" data-role ="delete" data-alert="Ne peut être supprimé car un prêt est en cours !"data-key="{{key}}" data-personne="{{personne}}">Supprimer</button>
<button id= "btnmod" class="person-btn-mod" data-role ="modifie"  data-prompt="Nouveau nom" data-key="{{key}}" data-personne="{{personne}}">Modifier</button>